body {
    font-family: 'Verdana'; 
    font-weight: 400;
    font-size: small;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

.about-container {
    display: flex; /* Colocar los elementos en una fila */
    align-items: center; /* Alinear verticalmente */
    justify-content: space-between; /* Espaciar los elementos */
    gap: 20px; /* Espaciado entre texto e imagen */
    margin: 10px 0; /* Reducir espacio vertical */
}

/* Estilo para el texto */
.about-text {
    flex: 1; /* El texto ocupa el espacio restante */
    text-align: left; /* Alinear texto a la izquierda */
    margin: 0; /* Reducir márgenes adicionales */
}

.row {
    display: flex;
}
.column {
    flex: 20%;
    padding: 5px;
}


header {
    color: #333;
    text-align: center;
    padding: 0px;
}

header h1 {
    margin: 0;
    font-family: 'Garamond';
    color: #333;
}


section h2 {
    font-family: 'Garamond';
    color: #333;

}

project {
    margin-bottom: 40px;
}

project img {
    max-width: 100%;
    height: auto;
}
#hola {
    width: 7%;
    
}

#me {
     /* The image will take 100% of the container's width */
    max-width: 25%; /* Ensure it doesn't exceed the container's width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures proper centering */
    margin: 0 auto; /* Center the image */
    width: 150px; /* Tamaño de la imagen */
    object-fit: cover; /* Ajustar el contenido */
    margin: 0;
    text-align: right;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    width: 100%; /* Asegura que el footer abarque todo el ancho */
   
}
